/* everywhere stuff */
body {
  background: rgb(223, 231, 233); 
  font-family: 'Libre Baskerville', serif;
}

a {
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.site-header {
  background: #3b1f2b;
  height: 80px;
  display: flex;
  align-items: center;
}

nav {
  margin-bottom: 20px;
  color: #fff;
}

nav a {
  color: #fbfbfb;
}

nav a:hover {
  color: #cecccc;
}

nav h2 {
  display: inline-block;
}

nav h2 a {
  color: #fff;
}

nav h2 a:hover {
  color: #fff;
  text-decoration: none;
}

button, input[type="submit"], btn {
  background: #3b1f2b!important;
  color: #fbfbfb;
  transition: 0.2s ease-in-out;
  border: none;
  -webkit-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
}

button:hover, input[type="submit"]:hover {
  background: #582e40;
  transform: scale(1.02);
}

button:active, input[type="submit"]:active{
  background: #582e40!important;
  transform: scale(1.03);
}

button:focus, input[type="submit"]:focus{
  background: #582e40!important;
  transform: scale(1.02);
}

/* books index page */
.book-card {
  -webkit-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
  padding: 0;
  display: grid;
  grid-template-columns: 150px auto auto;
  grid-template-rows: auto;
  grid-column-gap: 40px;
  align-items: center;
}

.book-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.book-info h4 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.book-card form {
  padding: 15px;
}

.book-img {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 150px;
  max-height: 180px;
}

#bookSearch {
  border: 1px solid #3b1f2b;
  background: none;
  height: 3em;
  -webkit-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
}

/* admin panel styles */
.admin-header {
  background: #fcc631;
  color: #000;
}

.site-header a {
  transition: 0.2s ease-in-out;
}

.site-header a:hover {
  transform: scale(1.03);
}

.admin-header a {
  color: #000;
}

.admin-header a:hover {
  color: rgb(54, 54, 54);
} 

.admin-header h2 a{
  color: #000;
}

th {
  font-weight: normal;
  background: #3b1f2b !important;
  color: #fbfbfb;
}
tr {
  transition: 0.2s ease-in-out;
}

tr:hover {
  background: rgb(243, 240, 240);
}

.emoji-btn {
  background: none;
  border: none;

}

.emoji-btn:hover {
  color: #fbfbfb;
}