/* everywhere stuff */
body {
  background: rgb(223, 231, 233);
}

a {
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer {
  background: rgb(30, 31, 41);
}
nav {
  margin-bottom: 20px;
  color: #fff;
}

nav h2 {
  display: inline-block;
}

nav h2 a {
  color: #fff;
}

nav h2 a:hover {
  color: #fff;
  text-decoration: none;
}

/* books index page */
.book-card {
  -webkit-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
  padding: 0;
  display: grid;
  grid-template-columns: 150px auto 100px;
  grid-template-rows: auto;
  grid-column-gap: 40px;
  align-items: center;
}

.book-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.book-info h4 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.book-card div {
}

.book-card form {
  padding: 15px;
}

.book-img {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 150px;
}

.title-author-section {
}

.title-author-section h4 {
}

#bookSearch {
  border: none;
  height: 3em;
  -webkit-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.3);
}

/* admin panel styles */
tr {
  transition: 0.2s ease-in-out;
}

tr:hover {
  background: rgb(243, 240, 240);
}

.emoji-btn {
  background: none;
  border: none;
}